body {
  background: #f3f2ed;
}

#container {
  padding: 3.5%;
  font-family: "Josefin Sans";
}

#header {
  height: 100px;
  margin: 0;
  display: flex;
}

.open-menu {
  all: unset;
}

#logo-name {
  color: #615e5a;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

#logo-job {
  color: #9c9c9c;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

#menu {
  display: flex;
  height: 50px;
  margin-left: 15px;
}

#menu a {
  position: relative;
  cursor: pointer;
  border: 0;
  background: 0;
  margin: 15px;
  align-self: center;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  color: #9c9c9c;
  transition: 0.1s ease-in;
}

#menu a:hover {
  color: rgb(39, 39, 39);
  transform: scale(1.1);
}

.active {
  color: rgb(39, 39, 39) !important;
  transform: scale(1.1);
}

#mobile-menu-container {
  display: none;
}

#imageContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.image-parent {
  height: 500px;
  margin: 0.3%;
  position: relative;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.overlay {
  display: block;
  background-color: black;
  opacity: 0;
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
}

.overlay:hover {
  opacity: 0.6;
}

.title {
  position: absolute;
  margin-top: 220px;
  top: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  color: white;
  font-size: 30px;
  transition: 0.5s ease;
}

.overlay-container:hover .title {
  opacity: 1;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.Small {
  min-width: 0%;
  max-width: 28%;
}

.Medium {
  min-width: 32%;
  max-width: 75%;
  flex: 1;
}

.Wide {
  flex: 1;
  min-width: 32%;
  max-width: 75%;
}

.lightbox {
  display: none;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  padding: 5em;
  background: rgba(0, 0, 0, 0.8);
}

.lightbox-image {
  margin: 0;
  display: block;
  width: auto;
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.lightbox-text {
  border-radius: 0 10px 10px 0;
  background: white;
  width: 30%;
}

.lightbox-text-title {
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

.lightbox-text-description {
  color: black;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
  line-height: 1.6;
}

.ac-container {
  display: none;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.about-container {
  border-right: solid 2px #615e5a;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 60%;
}

.about-container img {
  width: 50%;
  object-fit: cover;
  border: solid 1px #615e5a;
}

.about-container div {
  padding-left: 4%;
  padding-right: 2.5%;
}

.about-container-title {
  font-size: 30px;
  font-weight: 600;
}

.about-container-description {
  line-height: 2.5;
}

.about-container-social {
  display: flex;
  flex-direction: row;
  margin-top: 30px;

  padding: 0 !important;
  width: 100%;
}

.about-container-social a {
  text-decoration: none;
  margin: 0;
  margin-right: 20px;
  padding: 0;
}

.contact-container {
  width: 40%;
  display: block;
}

.contact-container p {
  width: 40%;
  font-size: 26px;
  margin-left: 5%;
  border-bottom: 4px solid #615e5a;
}

.contact-container form {
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
}

.contact-container form label {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.contact-container form label input {
  color: #615e5a;
  font-size: 20px;
  font-weight: 500;
  height: 50px;
  border: 0;
  border-bottom: 2px solid #615e5a55;
  background: 0;
}

.contact-container form label textarea {
  color: #615e5a;
  padding: 10px;
  resize: none;
  font-size: 15px;
  font-family: "Josefin Sans";
  height: 30vh;
  width: 100%;
  border: 2px solid #615e5a55;
  background: 0;
  border-radius: 5px;
  width: 95%;
}

.contact-container form button {
  all: unset;
  cursor: pointer;
  padding: 10px 0px 10px 0px;
  background: #615e5a;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  width: 20%;
  margin-left: auto;
  text-align: center;
  transition: all 0.2s ease;
}

.contact-container form button:hover {
  background: white;
  color: #615e5a;
}

@media only screen and (max-width: 1000px) {
  #container {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
  }
  #logo {
    margin-top: 20px;
  }
  #imageContainer {
    margin-top: 20px;
    flex-direction: column;
  }
  #header {
    display: block;
  }
  #logo-name {
    text-align: center;
  }
  #logo-job {
    text-align: center;
  }
  #menu {
    display: none;
  }
  .open-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 999;
    margin: 10px;
    width: 35px;
    height: 35px;
    top: 0;
    left: 0;
  }
  .open-menu span {
    margin-top: 10px;
    width: 100%;
    border: 2px solid #615e5a;
  }
  #top-span {
    transform-origin: center center;
    transition: 0.2s ease;
  }
  #middle-span {
    transform-origin: center center;
    transition: 0.2s ease;
  }
  #mobile-menu-container {
    overflow: hidden;
    display: flex;
    margin: 0;
    z-index: 998;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    line-height: 3;
    align-items: center;
    justify-content: center;
    background: #615e5a;
    transition: all 0.5s ease;
  }
  #mobile-menu-container a {
    text-align: center;
    width: 200px;
    font-size: 24px;
    color: white;
    transition: all 1s ease;
  }
  .image {
    width: 100%;
  }
  .image-parent {
    height: 100%;
  }
  .Wide {
    width: 100%;
    max-width: 100%;
  }
  .Medium {
    width: 100%;
    max-width: 100%;
  }
  .Small {
    width: 100%;
    max-width: 100%;
  }
  .lightbox {
    display: none !important;
  }
  .overlay-container {
    display: none;
  }
  .ac-container {
    flex-direction: column;
    height: 100%;
  }
  .about-container {
    flex-direction: column;
    margin-top: 50px;
    padding-bottom: 25px;
    width: 100%;
    border: 0;
    border-bottom: 2px solid black;
  }
  #about-text-container {
    width: auto;
    height: auto;
  }
  .about-container img {
    width: 100%;
    align-self: center;
  }
  .about-container-title {
    text-align: center;
  }
  .about-container-social {
    justify-content: center;
  }
  .contact-container {
    width: 100%;
  }
  .contact-container p {
    margin-top: 40px;
    width: 70%;
  }
  .contact-container form label textarea {
    height: 300px;
  }
  .contact-container form button {
    width: 80%;
    margin: auto;
  }
}
